<div class="content">
  <h1>h1 | <%= lorem.words 3 %></h1><br />
  <h2>h2 | <%= lorem.words 3 %></h2><br />
  <h3>h3 | <%= lorem.words 3 %></h3><br />
  <h4>h4 | <%= lorem.words 3 %></h4><br />
  <h5>h5 | <%= lorem.words 3 %></h5><br />
  <p>
    p | <%= lorem.paragraph %>
  </p><br />
  <em>em | <%= lorem.words 3 %></em><br /><br />
  <strong>strong | <%= lorem.words 3 %></strong><br /><br />
  <i>i | <%= lorem.words 3 %></i><br /><br />
  <b>b | <%= lorem.words 3 %></b><br /><br />
  <ul>
    <li>ul/li | <%= lorem.words 3 %></li>
    <li>ul/li | <%= lorem.words 3 %></li>
    <li>ul/li | <%= lorem.words 3 %></li>
  </ul>
  <br />
  <ol>
    <li>ol/li | <%= lorem.words 3 %></li>
    <li>ol/li | <%= lorem.words 3 %></li>
    <li>ol/li | <%= lorem.words 3 %></li>
  </ol>
</div>
