<div class="hero hero--slideshow">
  
  <div class="hero__slide slide" style="background-image: url('http://placehold.it/960x540/336699&text=<%= lorem.word %>');">

    <div class="slide__inner">

      <h2 class="slide__heading">
        <%= (lorem.words 3).capitalize %> <strong><%= lorem.words 2 %>.</strong>
      </h2>

      <h3 class="slide__subheading">
        <%= (lorem.words 4).capitalize %>.
      </h3>

      <div class="slide__copy">
      </div>

      <a class="slide__cta">
        View Story
      </a>

    </div>
  </div>

  <div class="hero__slide slide" style="background-image: url('http://placehold.it/960x540/318ce7&text=<%= lorem.word %>');">

    <div class="slide__inner">

      <h2 class="slide__heading">
        <strong><%= (lorem.words 3).capitalize %>?</strong>
      </h2>

      <h3 class="slide__subheading">
      </h3>

      <div class="slide__copy">
        <p>
          <%= lorem.paragraphs 1 %>
        </p>
        <p>
          <%= lorem.paragraphs 1 %>
        </p>
      </div>

      <a class="slide__cta">
        View Story
      </a>

    </div>
  </div>

  <div class="hero__slide slide" style="background-image: url('http://placehold.it/960x540/5d8aa8&text=<%= lorem.word %>');">

    <div class="slide__inner">

      <h2 class="slide__heading">
        <strong><%= (lorem.words 3).capitalize %>.</strong>
      </h2>

      <h3 class="slide__subheading">
      </h3>

      <div class="slide__copy">
        <p>
          <%= lorem.paragraphs 1 %>
        </p>
      </div>

      <a class="slide__cta">
        View Story
      </a>

    </div>
  </div>

  <button class="hero__scroll"></button>
</div>
